!
! Configuration Pré-déploiement des commutateurs extérieurs
!

hostname SW_{{ item.ID_MAP }}

logging buffered 100000

clock timezone EST -5 0
clock summer-time EDT recurring
!
no ip domain-lookup
ip domain-name {{ general_parameters.domain_sufix }}
ip name-server 10.96.4.217
ip name-server 10.96.4.219
ip name-server 10.96.4.218
vtp mode transparent

system mtu routing 1500
ip routing

ip scp server enable


spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree uplinkfast


vlan {{ general_parameters.vlan_AP }}
 name AP_and_IoT

vlan 3402
 name Deploiement_AP

vlan {{ general_parameters.unused_port_vlan }}
 name Unused Ports


! Gi 1/1
interface GigabitEthernet 1/1
 description SW_{{ item.ID_MAP_A }} Gi 1/2 Pair {{ item.PAIR }}
 switchport mode dynamic desirable
 switchport trunk allowed vlan remove 3401
 no shut
!
! Gi 1/2
interface GigabitEthernet 1/2
 description SW_{{ item.ID_MAP_B }} Gi 1/1 Pair {{ item.PAIR }}
 switchport mode dynamic desirable
 switchport trunk allowed vlan remove 3401
 no shut
!

!
interface GigabitEthernet1/9
 description AP {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.vlan_AP }}
 switchport mode access
 switchport nonegotiate
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no shut

interface Loopback0
 ip address {{ item.IP_LOOPBACK }} 255.255.255.255
 ip ospf network point-to-point

interface Vlan3402
 description DEPLOY TEMPORAIRE
 ip address {{ item.IP_DEPLOY }} 255.255.248.0

interface Vlan{{ general_parameters.vlan_AP }}
 description Objets lot/ring/pair: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}
 ip address {{ item.SUBNET_AP }} 255.255.255.224
 ip helper-address {{ general_parameters.helper_server_1 }}
 ip helper-address {{ general_parameters.helper_server_2 }}
 no shut

router ospf 100
 router-id {{ item.IP_LOOPBACK }}
 auto-cost reference-bandwidth 100000
 passive-interface Vlan{{ general_parameters.vlan_AP }}
 passive-interface Vlan1
 network 10.255.192.0 0.0.63.255 area {{ item.LOT_ID }}
 network 10.52.248.0 0.3.255.255 area 52
 network 10.255.240.0 0.0.7.255 area 52
 

ip access-list standard MANAGEMENT
 permit any
ip access-list standard SNMP-ACCESS
 permit any


logging trap 6
logging source-interface Loopback0
logging host {{ general_parameters.syslog_server_1 }}
logging host {{ general_parameters.syslog_server_2 }}

snmp-server group SNMP-RO-VDM v3 auth read SNMP-ISO-VDM
snmp-server group SNMP-RW-VDM v3 auth read SNMP-ISO-VDM write SNMP-ISO-VDM
snmp-server view SNMP-ISO-VDM iso included
snmp-server user SNMP-USERRO-VDM SNMP-RO-VDM v3 auth md5 Z8aFD5pE3I0ct7m
snmp-server user SNMP-USERRW-VDM SNMP-RW-VDM v3 auth md5 uXM8d2p7tL6uTA5Pn10H

snmp-server location {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}
snmp-server contact COR
snmp-server source-interface traps Lo0


line vty 0 15
 login local

ntp server {{ general_parameters.ntp_server }}
ntp source loopback0


crypto key generate rsa mod 2048


