!
! Re-configuration de balancement des anneaux
!

hostname SW_{{ item.ID_MAP }}


! Gi 1/1
interface GigabitEthernet 1/1
 description SW_{{ item.ID_MAP_A }} Gi 1/2 Pair {{ item.PAIR }}

!
! Gi 1/2
interface GigabitEthernet 1/2
 description SW_{{ item.ID_MAP_B }} Gi 1/1 Pair {{ item.PAIR }}


!
interface GigabitEthernet1/9
 description AP {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}

interface Loopback0
 ip address {{ item.IP_LOOPBACK }} 255.255.255.255



interface Vlan{{ general_parameters.vlan_AP }}
 description Objets lot/ring/pair: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}
 ip address {{ item.SUBNET_AP }} 255.255.255.224

router ospf 100
 router-id {{ item.IP_LOOPBACK }}
 auto-cost reference-bandwidth 100000
 passive-interface Vlan{{ general_parameters.vlan_AP }}
 passive-interface Vlan1
 network 10.255.192.0 0.0.63.255 area {{ item.LOT_ID }}
 network 10.52.248.0 0.3.255.255 area 52
 network 10.255.240.0 0.0.7.255 area 52
 

snmp-server location {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}

interface Vlan3402
 description DEPLOY TEMPORAIRE
 ip address {{ item.IP_DEPLOY }} 255.255.248.0

interface Loopback0
 ip address {{ item.IP_LOOPBACK }} 255.255.255.255


