!
! Gabarit de configuration finales des commutateurs extérieurs
!

service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
service unsupported-transceiver

no service tcp-small-servers
no service udp-small-servers
no ip finger 
no service finger
no service config
no service pad

hostname SW_{{ item.ID_MAP }}

boot system sdflash:ie4000-universalk9-mz.152-4.EA5.bin

logging buffered 100000
no logging console

enable secret {{ general_parameters.localadmin_password }}
!
username {{ general_parameters.username }} privilege 15 secret {{ general_parameters.localadmin_password }}
!
aaa new-model


aaa authentication login default group tacacs+ local
aaa authentication login cons-aux-port group tacacs+ local
aaa authentication enable default group tacacs+ enable
aaa authorization console
aaa authorization exec default group tacacs+ local 
aaa authorization commands 15 default group tacacs+ local
aaa accounting exec default start-stop group tacacs+
aaa accounting commands 15 default start-stop group tacacs+
aaa session-id common

clock timezone EST -5 0
clock summer-time EDT recurring
!
no ip domain-lookup
ip domain-name {{ general_parameters.domain_sufix }}
ip name-server 10.96.4.217
ip name-server 10.96.4.219
ip name-server 10.96.4.218
vtp mode transparent

system mtu routing 1500
ip routing

ip scp server enable

ptp mode e2etransparent 
!
!
dot1x system-auth-control
dot1x guest-vlan supplicant
dot1x critical eapol
!
spanning-tree mode rapid-pvst
spanning-tree loopguard  default
spanning-tree portfast edge default
spanning-tree portfast edge bpduguard default
spanning-tree extend system-id
spanning-tree uplinkfast
no spanning-tree vlan 1
no spanning-tree vlan {{ general_parameters.unused_port_vlan }}

!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause psecure-violation
errdisable recovery cause dhcp-rate-limit
errdisable recovery cause storm-control
errdisable recovery cause arp-inspection
errdisable recovery interval 299
port-channel load-balance src-dst-ip

alarm profile defaultPort
 alarm not-operating 
 syslog not-operating 
 notifies not-operating 

alarm facility sd-card enable
alarm facility sd-card notifies
alarm facility sd-card syslog
!
alarm facility temperature primary notifies
alarm facility temperature primary syslog
alarm facility temperature primary relay major
!
alarm facility temperature secondary notifies
alarm facility temperature secondary syslog
alarm facility temperature secondary relay major

!
vlan internal allocation policy ascending

vlan {{ general_parameters.vlan_AP }}
 name AP_and_IoT

vlan {{ general_parameters.unused_port_vlan }}
 name Unused Ports

!ip arp inspection vlan {{ general_parameters.vlan_AP }}

!ip dhcp snooping
!ip dhcp snooping vlan {{ general_parameters.vlan_AP }}
!
!
! Gi 1/1
interface GigabitEthernet 1/1
 description FO Pair {{ item.PAIR }} to SW_{{ item.ID_MAP_A }} Gi 1/2
 no switchport
 ip address {{ item.IP_A }} 255.255.255.254
 ip ospf network point-to-point
 no shut
!
! Gi 1/2
interface GigabitEthernet 1/2
 description FO Pair {{ item.PAIR }} to SW_{{ item.ID_MAP_B }} Gi 1/1
 no switchport
 ip address {{ item.IP_B }} 255.255.255.254
 ip ospf network point-to-point
 no shut
!
interface GigabitEthernet1/3
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/4
  description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/5
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/6
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/7
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/8
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/9
 description AP {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.vlan_AP }}
 switchport mode access
 switchport nonegotiate
 switchport port-security
 switchport port-security maximum 3
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 ip dhcp snooping limit rate 15
 no shut
!
interface GigabitEthernet1/10
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/11
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface GigabitEthernet1/12
 description Libre ID_MAP:{{ item.ID_MAP }}
 switchport access vlan {{ general_parameters.unused_port_vlan }}
 switchport trunk native vlan 999
 switchport trunk allowed vlan none
 switchport mode access
 switchport nonegotiate
 no ip address
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security mac-address sticky
 switchport port-security aging time 10
 switchport port-security aging type inactivity
 storm-control broadcast level 5.00
 storm-control action trap
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 spanning-tree guard root
 no cdp enable
 shutdown
!
interface Loopback0
 ip address {{ item.IP_LOOPBACK }} 255.255.255.255
 ip ospf network point-to-point


interface Vlan1
 description ** Vlan par default **
 no ip address
 shutdown

interface Vlan{{ general_parameters.vlan_AP }}
 ip address {{ item.SUBNET_AP }} 255.255.255.224
 ip helper-address {{ general_parameters.helper_server_1 }}
 ip helper-address {{ general_parameters.helper_server_2 }}
 no shut

router ospf 100
 router-id {{ item.IP_LOOPBACK }}
 auto-cost reference-bandwidth 100000
 passive-interface Vlan{{ general_parameters.vlan_AP }}
 network 10.255.192.0 0.0.63.255 area {{ item.LOT_ID }}
 network 10.52.248.0 0.3.255.255 area {{ item.LOT_ID }}
 
ip forward-protocol nd
no ip http server
no ip http secure-server

ip tacacs source-interface Loopback0

ip access-list standard MANAGEMENT
 permit any
ip access-list standard SNMP-ACCESS
 permit any

ip sla enable reaction-alerts

login block-for 60 attempts 3 within 30


logging trap 6
logging source-interface Loopback0
logging host {{ general_parameters.syslog_server_1 }}
logging host {{ general_parameters.syslog_server_2 }}

snmp-server group SNMP-RO-VDM v3 auth read SNMP-ISO-VDM
snmp-server group SNMP-RW-VDM v3 auth read SNMP-ISO-VDM write SNMP-ISO-VDM
snmp-server view SNMP-ISO-VDM iso included
snmp-server user SNMP-USERRO-VDM SNMP-RO-VDM v3 auth md5 Z8aFD5pE3I0ct7m
snmp-server user SNMP-USERRW-VDM SNMP-RW-VDM v3 auth md5 uXM8d2p7tL6uTA5Pn10H

snmp-server location {{ item.RING_TYPE }} lot/ring/pair/node: {{ item.LOT_NAME }}/{{ item.ID_RING }}/{{ item.PAIR }}/{{ item.ID_NODE }} ID_MAP:{{ item.ID_MAP }}
snmp-server contact COR
snmp-server source-interface traps Lo0

tacacs server ACS01
 address ipv4 {{ general_parameters.tacacs_server_1 }}
 key 7 1329153531182B3D3A1008646277185E4F48470811
 timeout 1
tacacs server ACS02
 address ipv4 {{ general_parameters.tacacs_server_2 }}
 key 7 09604C2E231138051A38247D7C71236A6C6955595E
 timeout 1



banner exec ^
+----------------------------------------------+
|                    NOTICE                    |
+----------------------------------------------+
| PLEASE NOTE THAT YOUR SESSION IS MONITORED   |
| AND LOGGED.                                  |
|                                              |
| SVP NOTEZ QUE VOTRE SESSION EST SURVEILLEE   |
| ET ENREGISTREE.                              |
+----------------------------------------------+
Session activated on line $(line) $(line-desc)
^
banner login ^
+----------------------------------------------+
|            !WARNING! !ATTENTION!             |
+----------------------------------------------+
| THIS IS A PRIVATE SYSTEM. ACCESS AND USE OF  |
| THIS SYSTEM IS LIMITED TO AUTHORIZED         |
| PERSONNEL ONLY. ANY SYSTEM ACCESS AND USAGE  |
| ARE MONITORED AND LOGGED AT ALL TIMES. ALL   |
| UNAUTHORIZED ACCESS OR USE OF THIS SYSTEM    |
| ARE SUBJECT TO PROSECUTION TO THE FULL       |
| EXTENT OF THE LAW. DO NOT ACCESS OR USE THIS |
| SYSTEM IF YOU ARE NOT AUTHORIZED.            |
+----------------------------------------------+
| CECI EST UN SYSTEME PRIVE. ACCES ET          |
| UTILISATION DU SYSTEME EST LIMITE AU         |
| PERSONNEL AUTHORISE UNIQUEMENT. L'ACCES ET   |
| L'UTILISATION DU SYSTEME SONT SURVEILLES ET  |
| ENREGISTRES EN TOUT TEMPS. TOUT ACCES OU     |
| UTILISATION NON AUTORISE DU SYSTEME SONT     |
| SUJET A DES POURSUITES JUDICIAIRES TEL LA    |
| LOI LE PERMET. NE PAS ACCEDER OU UTILISER CE |
| SYSTEME SI VOUS N'ETES PAS AUTORISE.         |
+----------------------------------------------+
|            !WARNING! !ATTENTION!             |
+----------------------------------------------+
^
!
line con 0
 login authentication CONSOLE
 no motd-banner
 exec-timeout 5 0
 logging synchronous
 transport preferred none
 stopbits 1
line vty 0 15
 access-class MANAGEMENT in
 session-timeout 10
 exec-timeout 30 0
 logging synchronous
 transport preferred none
 transport input ssh
 transport output ssh

ntp server {{ general_parameters.ntp_server }}
ntp source loopback0
