

{%- for intf in interfaces %}  
  interface {{ intf }} 
{% set items = interfaces[intf] %}
{% for i in items %}
    no switchport
    description {{ i.lot_name }} {{ i.id_map }} Ring:{{ i.id_ring }} Paire:{{ i.pair }}
    ip address {{ i.ip_addr }} 255.255.255.254
    ip ospf network point-to-point

{% endfor %}
{%- endfor %}




